## #### Get Data from the following link: http://files.grouplens.org/datasets/movielens/ml-20m.zip 
                         #### We will be using the following files for this exercise: 
                               ratings.csv : userId,movieId,rating, timestamp 
                               tags.csv : userId,movieId, tag, timestamp 
                               movies.csv : movieId, title, genres

## 1. Read the dataset using pandas.

In [66]:
import pandas as pd                                                 # Importing the  pandas and os packages
import os
! wget http://files.grouplens.org/datasets/movielens/ml-20m.zip    # To retrieve the zip file from website
! unzip ml-20m.zip                                                 # Unzipng the zip file
df_ratings = pd.read_csv('./ml-20m/ratings.csv', sep=',')          # Reading the three CSV files (rating, tags, movies)
df_tags = pd.read_csv('./ml-20m/tags.csv', sep=',')
df_movies = pd.read_csv('./ml-20m/movies.csv', sep=',')

'wget' is not recognized as an internal or external command,
operable program or batch file.
'unzip' is not recognized as an internal or external command,
operable program or batch file.

## 2. Extract the first row from tags and print its type.

In [67]:
firstrow=df_tags.iloc[0]              # extracting the first row based upon index value
print("Type is: ",type(firstrow))     #  Displaying the type of first row
firstrow

Type is:  <class 'pandas.core.series.Series'>

userId                18
movieId             4141
tag          Mark Waters
timestamp     1240597180
Name: 0, dtype: object

## 3. Extract row 0, 11, 2000 from tags DataFrame.

In [68]:
df_tags.iloc[[0,11,2000]]      # Extracting the rows basedup on index values

      userId  movieId                tag   timestamp
0         18     4141        Mark Waters  1240597180
11        65     1783      noir thriller  1368149983
2000     910    68554  conspiracy theory  1368043943

## 4. Print index, columns of the DataFrame.

In [69]:
# for Tags Data Frame
print("Index for Tags data frame  : ",df_tags.index)           # Extracting the Index information of tags
print("Columns for Tags data frame: ",df_tags.columns)         # Extracting the columns information of tags
print("\n")
# for Tags Data Frame
print("Index for Ratings data frame  : ",df_ratings.index)     # Extracting the Index information of ratings
print("Columns for Ratings data frame: ",df_ratings.columns)   # Extracting the column information of ratings
print("\n")
# for Tags Data Frame
print("Index for Movies data frame  : ",df_movies.index)       # Extracting the Index information of Movies
print("Columns for Movies data frame: ",df_movies.columns)     # Extracting the column information of Movies

Index for Tags data frame  :  RangeIndex(start=0, stop=465564, step=1)
Columns for Tags data frame:  Index(['userId', 'movieId', 'tag', 'timestamp'], dtype='object')


Index for Ratings data frame  :  RangeIndex(start=0, stop=20000263, step=1)
Columns for Ratings data frame:  Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')


Index for Movies data frame  :  RangeIndex(start=0, stop=27278, step=1)
Columns for Movies data frame:  Index(['movieId', 'title', 'genres'], dtype='object')

## 5. Calculate descriptive statistics for the 'ratings' column of the ratings DataFrame. Verify using describe().

In [93]:
print("Statistics for rating column in Ratings Dataframe")
print(df_ratings["rating"].describe())                          # statistics of rating column in  rating dataset
print("\n")
print("count: ",df_ratings["rating"].count())                          # count of rating column in  rating dataset
print("mean: ",df_ratings["rating"].mean())                            # mean of rating column in  rating dataset
print("minimum value: ",df_ratings["rating"].min())                    # minimum of rating column in  rating dataset
print("maximum value: ",df_ratings["rating"].max())                    # maximum of rating column in  rating dataset
print("median value: ",df_ratings["rating"].median())                  # median of rating column in  rating data
print("mode value: ",df_ratings["rating"].mode())                      # mode of rating column in  rating dataset
print("25% value: ",df_ratings["rating"].quantile(0.25))               # 25% of rating column in  rating dataset
print("50% value: ",df_ratings["rating"].quantile(0.50))               # 50% of rating column in  rating data
print("75% value: ",df_ratings["rating"].quantile(0.75))               # 75% of rating column in  rating data
print("standard deviation value: ",df_ratings["rating"].std())         # standard deviation of rating column in  rating data

Statistics for rating column in Ratings Dataframe
count    2.000026e+07
mean     3.525529e+00
std      1.051989e+00
min      5.000000e-01
25%      3.000000e+00
50%      3.500000e+00
75%      4.000000e+00
max      5.000000e+00
Name: rating, dtype: float64


count:  20000263
mean:  3.5255285642993797
minimum value:  0.5
maximum value:  5.0
median value:  3.5
mode value:  0    4.0
dtype: float64
25% value:  3.0
50% value:  3.5
75% value:  4.0
standard deviation value:  1.051988919275684

## 6. Filter out ratings with rating > 5

In [71]:
dfGr5=df_ratings[df_ratings["rating"]>5]                         # Filtering the data based up on rating >5 condition
c=dfGr5.shape                                                    #  getting the shape of the output extracted on above condition
print("The number of ratings with rating > 5 are ",c[0])

The number of ratings with rating > 5 are  0

## 7. Find how many null values, missing values are present. Deal with them. Print out how many rows have been modified.

In [72]:
print("nulls values information in ratings")
ratingNulls=df_ratings.isna().sum()                             # Calculating the null values in each column of rating dataframe
print(ratingNulls)

print("\nnulls values information in tags")
tagsNulls=df_tags.isna().sum()                                 # Calculating the null values in each column of tags dataframe
print(tagsNulls)
tagsshapeb4=df_tags.shape
print("\nnulls values information in movies")
moviesNulls=df_movies.isna().sum()                             # Calculating the null values in each column of Movies dataframe
print(moviesNulls)

print("number of null values in ratings are ",ratingNulls.sum())  # Dsiplaying the total count of null values in rating dataframe
print("number of null values in tags are ",tagsNulls.sum())       # Dsiplaying the total count of null values in tags dataframe
print("number of null values in movies are ",moviesNulls.sum())   # Dsiplaying the total count of null values in movies dataframe

df_tags = df_tags.dropna()                                        # Dropping the null values present in the tags
tagsshapebaftr=df_tags.shape
print("number of rows modified in tags are ",int(tagsshapeb4[0])-int(tagsshapebaftr[0]))     # Numebr of rows modified in the tags dataframe

nulls values information in ratings
userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

nulls values information in tags
userId        0
movieId       0
tag          16
timestamp     0
dtype: int64

nulls values information in movies
movieId    0
title      0
genres     0
dtype: int64
number of null values in ratings are  0
number of null values in tags are  16
number of null values in movies are  0
number of rows modified in tags are  16

## 8. Filter out movies from the movies DataFrame that are of type 'Animation'.

In [73]:
# Filtering the movies based up on Animation 
dfAnimation=df_movies[df_movies["genres"].str.contains('Animation',case = False)]
movieTitles = dfAnimation["title"]                  # Storing the movie titles into movieTitles
movieTitles=movieTitles.reset_index(drop=True)      # Reseting the index
movieTitles=pd.DataFrame(movieTitles)               # Converting into dataframe
movieTitles

                                                  title
0                                      Toy Story (1995)
1                                          Balto (1995)
2                                     Pocahontas (1995)
3                                 Goofy Movie, A (1995)
4                               Gumby: The Movie (1995)
5                             Swan Princess, The (1994)
6                                 Lion King, The (1994)
7            Secret Adventures of Tom Thumb, The (1993)
8                Nightmare Before Christmas, The (1993)
9                                Pagemaster, The (1994)
10                                       Aladdin (1992)
11               Snow White and the Seven Dwarfs (1937)
12                          Beauty and the Beast (1991)
13                                     Pinocchio (1940)
14                                   Heavy Metal (1981)
15                               Aristocats, The (1970)
16                       All Dogs Go to Heaven 2 (1996)
17                     James and the Giant Peach (1996)
18                                     Space Jam (1996)
19                              Oliver & Company (1988)
20    Wallace & Gromit: The Best of Aardman Animatio...
21           Ghost in the Shell (Kôkaku kidôtai) (1995)
22               Wallace & Gromit: A Close Shave (1995)
23                  Hunchback of Notre Dame, The (1996)
24    Land Before Time III: The Time of the Great Gi...
25                                    Cinderella (1950)
26          Winnie the Pooh and the Blustery Day (1968)
27                         Three Caballeros, The (1945)
28                       Sword in the Stone, The (1963)
29                                         Dumbo (1941)
...                                                 ...
997                               Animals United (2011)
998               Tom and Jerry: The Lost Dragon (2014)
999      Mardock Scramble: The Second Combustion (2011)
1000                        Stand by Me Doraemon (2014)
1001                                Frozen Fever (2015)
1002                                  The Mascot (1934)
1003          Cardcaptor Sakura: The Sealed Card (2000)
1004  Berserk: The Golden Age Arc 2 - The Battle for...
1005  Berserk: The Golden Age Arc - The Egg of the K...
1006     Berserk: The Golden Age Arc 3 - Descent (2013)
1007                   The Amazing Screw-On Head (2006)
1008                                        Home (2015)
1009       The Brave Little Toaster Goes to Mars (1998)
1010  The Garden of Sinners - Chapter 5: Paradox Par...
1011                          Santa's Apprentice (2010)
1012                         Ronal the Barbarian (2011)
1013             Cinderella III: A Twist in Time (2007)
1014  The Little Polar Bear: Lars and the Little Tig...
1015  Mickey, Donald, Goofy: The Three Musketeers (2...
1016   Rudolph the Red-Nosed Reindeer: The Movie (1998)
1017                                Saving Santa (2013)
1018       Lucky Luke: The Ballad of the Daltons (1978)
1019                  Casper's Haunted Christmas (2000)
1020                             Superstar Goofy (1991)
1021            Tom and Jerry: A Nutcracker Tale (2007)
1022                Kleines Arschloch - Der Film (1997)
1023                Werner - Das muss kesseln!!! (1996)
1024                      Werner - Volles Rooäää (1999)
1025                Werner - Gekotzt wird später (2003)
1026                              Brother Bear 2 (2006)

[1027 rows x 1 columns]

## 9. Find the average rating of movies.

In [74]:
df_avg = df_ratings.groupby('movieId').mean()            # grouping the ratings data frame basedon movieID and calculating the mean/average
df_ratingCol=df_avg["rating"]                            # Storing the rating column into df_ratingCol
df_avgMovies=pd.DataFrame(df_ratingCol)                  # Converting into dataframe
df_avgMovies.sort_values("rating",ascending=False)       # Sorting the movies based in descending order

         rating
movieId
95517       5.0
105846      5.0
89133       5.0
105187      5.0
105191      5.0
88488       5.0
126945      5.0
105526      5.0
105529      5.0
105841      5.0
126397      5.0
103912      5.0
126219      5.0
106082      5.0
106113      5.0
106115      5.0
125599      5.0
106517      5.0
107252      5.0
86055       5.0
104317      5.0
127256      5.0
122441      5.0
92783       5.0
129478      5.0
129352      5.0
129305      5.0
92956       5.0
129295      5.0
129293      5.0
...         ...
103923      0.5
93583       0.5
59775       0.5
97915       0.5
97847       0.5
129871      0.5
124302      0.5
112782      0.5
112780      0.5
124368      0.5
112778      0.5
112776      0.5
123314      0.5
103769      0.5
85694       0.5
103695      0.5
114093      0.5
98080       0.5
103614      0.5
129456      0.5
93083       0.5
122930      0.5
122595      0.5
103294      0.5
129701      0.5
129784      0.5
92479       0.5
129834      0.5
115631      0.5
119909      0.5

[26744 rows x 1 columns]

## 10. Perform an inner join of movies and tags based on movieId.

In [75]:
df_merge=df_movies.merge(df_tags, on='movieId', how='inner')   # Performing the inner join on movies and tags basedon movieId
df_merge

,movieId,title,genres,userId,tag,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1644,Watched,1417736680
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,computer animation,1183903155
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,Disney animated feature,1183933307
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,Pixar animation,1183934770
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,TÃ©a Leoni does not star in this movie,1245093573
5,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2299,Pixar,1403306852
6,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3596,animation,1290312028
7,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3596,family,1290312032
8,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3596,Tom Hanks,1290312036
9,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6233,Pixar,1387079572
10,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6233,witty,1387079576
11,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8219,Pixar,1159534063
12,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10616,adventure,1277357423
13,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10616,animated,1277357419
14,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10616,animation,1277357417
15,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10616,clever,1277357438
16,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10616,comedy,1277357433
17,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10616,computer animation,1277357405
18,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10616,family,1277357449
19,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10616,fantasy,1277357430
20,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10616,Tom Hanks,1277357411
21,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11081,bright,1173304070
22,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11081,DARING RESCUES,1173304095
23,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11081,fanciful,1173304058
24,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11081,HEROIC MISSION,1173304102
25,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11081,humorous,1173304049
26,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11081,light,1173304062
27,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11081,rousing,1173304074
28,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11081,TOYS COME TO LIFE,1173304091
29,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11081,UNLIKELY FRIENDSHIPS,1173304106
...,...,...,...,...,...,...
465518,131015,Hellgate (2011),Horror|Thriller,25978,Cary Elwes,1427585540
465519,131015,Hellgate (2011),Horror|Thriller,25978,Demons,1427585566
465520,131015,Hellgate (2011),Horror|Thriller,25978,Exorcism,1427585551
465521,131015,Hellgate (2011),Horror|Thriller,25978,Ghosts,1427585546
465522,131015,Hellgate (2011),Horror|Thriller,25978,Monks,1427585560
465523,131015,Hellgate (2011),Horror|Thriller,25978,nurse,1427585621
465524,131015,Hellgate (2011),Horror|Thriller,25978,psychic,1427585613
465525,131015,Hellgate (2011),Horror|Thriller,25978,slow,1427585575
465526,131015,Hellgate (2011),Horror|Thriller,25978,special effects,1427585690
465527,131015,Hellgate (2011),Horror|Thriller,25978,surfing,1427585592
465528,131015,Hellgate (2011),Horror|Thriller,25978,Thailand,1427585543
465529,131015,Hellgate (2011),Horror|Thriller,25978,William Hurt,1427585696
465530,131031,La liga no es cosa de hombres (1972),(no genres listed),33323,Barcelona,1427641562
465531,131031,La liga no es cosa de hombres (1972),(no genres listed),33323,exploitation,1427641559
465532,131031,La liga no es cosa de hombres (1972),(no genres listed),33323,female football,1427641577
465533,131031,La liga no es cosa de hombres (1972),(no genres listed),33323,football,1427641548
465534,131031,La liga no es cosa de hombres (1972),(no genres listed),33323,Rome,1427641564
465535,131031,La liga no es cosa de hombres (1972),(no genres listed),33323,shorts,1427641571
465536,131031,La liga no es cosa de hombres (1972),(no genres listed),33323,soccer,1427641556
465537,131031,La liga no es cosa de hombres (1972),(no genres listed),33323,transvestite,1427641589
465538,131054,Dinotopia: Quest for the Ruby Sunstone (2005),Children|Fantasy|Sci-Fi,88144,dinosaurs,1427654430
465539,131082,Playground (2009),(no genres listed),92885,documentary,1427654757
465540,131082,Playground (2009),(no genres listed),92885,Yoshitomo Nara,1427654856
465541,131164,Vietnam in HD (2011),War,54560,Vietnam War,1427667401
465542,131170,Parallels (2015),Sci-Fi,88738,alternate reality,1427732804
465543,131258,The Pirates (2014),Adventure,28906,bandits,1427745421
465544,131258,The Pirates (2014),Adventure,28906,Korea,1427745512
465545,131258,The Pirates (2014),Adventure,28906,mutiny,1427745542
465546,131258,The Pirates (2014),Adventure,28906,pirates,1427745419
465547,131258,The Pirates (2014),Adventure,28906,whale,1427745432

## 11. Print out the 5 movies that belong to the Comedy genre and have rating greater than 4.

In [76]:
df_avg = df_ratings.groupby('movieId').mean()                       # grouping the ratings data frame basedon movieID and calculating the mean/average
df_AvgGr4=df_avg[df_avg["rating"]>4]                                # Filtering the data based upon condition rating > 4
df_temp=df_movies.merge(df_AvgGr4, on='movieId', how='inner')       # inner join on movies and above dataframe
df_ComedyGr4=df_temp[df_temp["genres"].str.contains('Comedy',case = False)]  # filtering the data frame based on genre= Comedy
df_ComedyGr4.head()

,movieId,title,genres,userId,rating,timestamp
3,82,Antonia's Line (Antonia) (1995),Comedy|Drama,68604.914894,4.004925,9.397648e+08
9,232,Eat Drink Man Woman (Yin shi nan nu) (1994),Comedy|Drama|Romance,69455.957398,4.035610,9.670909e+08
13,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,69236.563780,4.174231,1.052293e+09
17,356,Forrest Gump (1994),Comedy|Drama|Romance|War,69170.493456,4.029000,1.055720e+09
23,608,Fargo (1996),Comedy|Crime|Drama|Thriller,69005.939869,4.112359,1.041937e+09

## 12. Split 'genres' into multiple columns.

In [82]:
split_genres = df_movies['genres'].str.split('|', expand=True)      # spliting the values basedon symbol '|'and creating multiple columns
split_genres

,0,1,2,3,4,5,6,7,8,9
0,Adventure,Animation,Children,Comedy,Fantasy,None,None,None,None,None
1,Adventure,Children,Fantasy,None,None,None,None,None,None,None
2,Comedy,Romance,None,None,None,None,None,None,None,None
3,Comedy,Drama,Romance,None,None,None,None,None,None,None
4,Comedy,None,None,None,None,None,None,None,None,None
5,Action,Crime,Thriller,None,None,None,None,None,None,None
6,Comedy,Romance,None,None,None,None,None,None,None,None
7,Adventure,Children,None,None,None,None,None,None,None,None
8,Action,None,None,None,None,None,None,None,None,None
9,Action,Adventure,Thriller,None,None,None,None,None,None,None
10,Comedy,Drama,Romance,None,None,None,None,None,None,None
11,Comedy,Horror,None,None,None,None,None,None,None,None
12,Adventure,Animation,Children,None,None,None,None,None,None,None
13,Drama,None,None,None,None,None,None,None,None,None
14,Action,Adventure,Romance,None,None,None,None,None,None,None
15,Crime,Drama,None,None,None,None,None,None,None,None
16,Drama,Romance,None,None,None,None,None,None,None,None
17,Comedy,None,None,None,None,None,None,None,None,None
18,Comedy,None,None,None,None,None,None,None,None,None
19,Action,Comedy,Crime,Drama,Thriller,None,None,None,None,None
20,Comedy,Crime,Thriller,None,None,None,None,None,None,None
21,Crime,Drama,Horror,Mystery,Thriller,None,None,None,None,None
22,Action,Crime,Thriller,None,None,None,None,None,None,None
23,Drama,Sci-Fi,None,None,None,None,None,None,None,None
24,Drama,Romance,None,None,None,None,None,None,None,None
25,Drama,None,None,None,None,None,None,None,None,None
26,Children,Drama,None,None,None,None,None,None,None,None
27,Drama,Romance,None,None,None,None,None,None,None,None
28,Adventure,Drama,Fantasy,Mystery,Sci-Fi,None,None,None,None,None
29,Crime,Drama,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...
27248,Animation,Comedy,None,None,None,None,None,None,None,None
27249,Comedy,Romance,None,None,None,None,None,None,None,None
27250,Comedy,None,None,None,None,None,None,None,None,None
27251,Comedy,None,None,None,None,None,None,None,None,None
27252,Comedy,None,None,None,None,None,None,None,None,None
27253,Comedy,None,None,None,None,None,None,None,None,None
27254,Comedy,None,None,None,None,None,None,None,None,None
27255,Drama,None,None,None,None,None,None,None,None,None
27256,Drama,Romance,None,None,None,None,None,None,None,None
27257,War,None,None,None,None,None,None,None,None,None
27258,(no genres listed),None,None,None,None,None,None,None,None,None
27259,Drama,None,None,None,None,None,None,None,None,None
27260,Sci-Fi,None,None,None,None,None,None,None,None,None
27261,(no genres listed),None,None,None,None,None,None,None,None,None
27262,Drama,Romance,Thriller,None,None,None,None,None,None,None
27263,Drama,None,None,None,None,None,None,None,None,None
27264,Action,Horror,Thriller,None,None,None,None,None,None,None
27265,Comedy,Romance,None,None,None,None,None,None,None,None
27266,Comedy,None,None,None,None,None,None,None,None,None
27267,Comedy,Drama,None,None,None,None,None,None,None,None
27268,Comedy,Romance,None,None,None,None,None,None,None,None
27269,Animation,Comedy,None,None,None,None,None,None,None,None
27270,Adventure,Animation,Children,Comedy,Fantasy,None,None,None,None,None
27271,Comedy,None,None,None,None,None,None,None,None,None
27272,Comedy,Horror,None,None,None,None,None,None,None,None
27273,Comedy,None,None,None,None,None,None,None,None,None
27274,Comedy,None,None,None,None,None,None,None,None,None
27275,Adventure,None,None,None,None,None,None,None,None,None
27276,(no genres listed),None,None,None,None,None,None,None,None,None
27277,Adventure,Fantasy,Horror,None,None,None,None,None,None,None

## 13. Extract year from title e.g. (1995).

In [78]:
df_movies['year'] = df_movies['title'].str.extract('.*\((.*)\).*', expand=True)   # Extraing the year from movie title
df_movies

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995
5,6,Heat (1995),Action|Crime|Thriller,1995
6,7,Sabrina (1995),Comedy|Romance,1995
7,8,Tom and Huck (1995),Adventure|Children,1995
8,9,Sudden Death (1995),Action,1995
9,10,GoldenEye (1995),Action|Adventure|Thriller,1995
10,11,"American President, The (1995)",Comedy|Drama|Romance,1995
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror,1995
12,13,Balto (1995),Adventure|Animation|Children,1995
13,14,Nixon (1995),Drama,1995
14,15,Cutthroat Island (1995),Action|Adventure|Romance,1995
15,16,Casino (1995),Crime|Drama,1995
16,17,Sense and Sensibility (1995),Drama|Romance,1995
17,18,Four Rooms (1995),Comedy,1995
18,19,Ace Ventura: When Nature Calls (1995),Comedy,1995
19,20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller,1995
20,21,Get Shorty (1995),Comedy|Crime|Thriller,1995
21,22,Copycat (1995),Crime|Drama|Horror|Mystery|Thriller,1995
22,23,Assassins (1995),Action|Crime|Thriller,1995
23,24,Powder (1995),Drama|Sci-Fi,1995
24,25,Leaving Las Vegas (1995),Drama|Romance,1995
25,26,Othello (1995),Drama,1995
26,27,Now and Then (1995),Children|Drama,1995
27,28,Persuasion (1995),Drama|Romance,1995
28,29,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi,1995
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Crime|Drama,1995
...,...,...,...,...
27248,131146,Werner - Volles Rooäää (1999),Animation|Comedy,1999
27249,131148,What A Man (2011),Comedy|Romance,2011
27250,131150,7 Dwarves: The Forest Is Not Enough (2006),Comedy,2006
27251,131152,The Fat Spy (1966),Comedy,1966
27252,131154,"Die Bademeister – Weiber, saufen, Leben retten...",Comedy,1999
27253,131156,Ants in the Pants 2 (2002),Comedy,2002
27254,131158,"Manta, Manta (1991)",Comedy,1991
27255,131160,Oscar and the Lady in Pink (2009),Drama,2009
27256,131162,Por un puñado de besos (2014),Drama|Romance,2014
27257,131164,Vietnam in HD (2011),War,2011
27258,131166,WWII IN HD (2009),(no genres listed),2009
27259,131168,Phoenix (2014),Drama,2014
27260,131170,Parallels (2015),Sci-Fi,2015
27261,131172,Closed Curtain (2013),(no genres listed),2013
27262,131174,Gentlemen (2014),Drama|Romance|Thriller,2014
27263,131176,A Second Chance (2014),Drama,2014
27264,131180,Dead Rising: Watchtower (2015),Action|Horror|Thriller,2015
27265,131231,Standby (2014),Comedy|Romance,2014
27266,131237,What Men Talk About (2010),Comedy,2010
27267,131239,Three Quarter Moon (2011),Comedy|Drama,2011
27268,131241,Ants in the Pants (2000),Comedy|Romance,2000
27269,131243,Werner - Gekotzt wird später (2003),Animation|Comedy,2003
27270,131248,Brother Bear 2 (2006),Adventure|Animation|Children|Comedy|Fantasy,2006
27271,131250,No More School (2000),Comedy,2000
27272,131252,Forklift Driver Klaus: The First Day on the Jo...,Comedy|Horror,2001
27273,131254,Kein Bund für's Leben (2007),Comedy,2007
27274,131256,"Feuer, Eis & Dosenbier (2002)",Comedy,2002
27275,131258,The Pirates (2014),Adventure,2014
27276,131260,Rentun Ruusu (2001),(no genres listed),2001
27277,131262,Innocence (2014),Adventure|Fantasy|Horror,2014

## 14. Select rows based on timestamps later than 2015-02-01.

In [80]:
df_tags["Date"]=pd.to_datetime(df_tags['timestamp'], unit='s')   # Converting the timestamp into date time  and storing in a new column
df_timestamps= df_tags[df_tags["Date"]>"2015-02-01"]             # Filtering the data basedon condition >"2015-02-01"
df_timestamps

,userId,movieId,tag,timestamp,Date
301,318,260,1970s,1424472169,2015-02-20 22:42:49
302,318,260,fantasy,1424472169,2015-02-20 22:42:49
303,318,260,sci-fi,1424472169,2015-02-20 22:42:49
304,318,115149,Action,1424534310,2015-02-21 15:58:30
305,318,115149,Revenge,1424534283,2015-02-21 15:58:03
306,318,115149,Willem Dafoe,1424534383,2015-02-21 15:59:43
324,342,318,masterplan,1423424898,2015-02-08 19:48:18
326,342,318,prison escape,1423424898,2015-02-08 19:48:18
327,342,318,redemption,1423424898,2015-02-08 19:48:18
589,342,108190,based on a book,1426978115,2015-03-21 22:48:35
590,342,108190,dystopia,1426978076,2015-03-21 22:47:56
1018,370,6975,breaking the fourth wall,1425242234,2015-03-01 20:37:14
1019,370,27592,violent,1425241975,2015-03-01 20:32:55
2203,969,97,class conflict,1426754226,2015-03-19 08:37:06
2204,969,288,mindfuck,1426752631,2015-03-19 08:10:31
2205,969,288,paranoid,1426752639,2015-03-19 08:10:39
2206,969,288,psychedelic,1426752634,2015-03-19 08:10:34
2207,969,1263,american propaganda,1426753995,2015-03-19 08:33:15
2208,969,3742,class conflict,1426753876,2015-03-19 08:31:16
2209,969,3742,Classic,1426754311,2015-03-19 08:38:31
2210,969,3742,Propaganda,1426754337,2015-03-19 08:38:57
2211,969,4848,Atmospheric,1426752575,2015-03-19 08:09:35
2212,969,4848,dark,1426752581,2015-03-19 08:09:41
2213,969,4848,Mindfuck,1426752569,2015-03-19 08:09:29
2214,969,6530,claustrophobic,1426753144,2015-03-19 08:19:04
2215,969,6530,mental illness,1426751285,2015-03-19 07:48:05
2216,969,6530,suicide,1426751289,2015-03-19 07:48:09
2217,969,8950,depressing,1426749117,2015-03-19 07:11:57
2218,969,8950,psychodrama,1426752695,2015-03-19 08:11:35
2219,969,8950,schizophrenia,1426752689,2015-03-19 08:11:29
...,...,...,...,...,...
461895,137227,120222,horribly animated,1422821079,2015-02-01 20:04:39
461896,137227,120222,nazi imagery,1422821051,2015-02-01 20:04:11
461897,137227,120222,racist,1422821047,2015-02-01 20:04:07
461898,137227,120222,racist stereotypes,1422821071,2015-02-01 20:04:31
462190,137249,296,influential,1423437040,2015-02-08 23:10:40
462191,137249,296,neo-noir,1423437040,2015-02-08 23:10:40
462192,137249,296,quentin tarantino,1423437040,2015-02-08 23:10:40
462195,137277,110052,"marcello mastroianni,",1422925214,2015-02-03 01:00:14
462979,137924,46855,Criterion,1427722627,2015-03-30 13:37:07
462980,137924,46855,French Resistance,1427722622,2015-03-30 13:37:02
462981,137924,46855,World War II,1427722614,2015-03-30 13:36:54
463004,138063,4355,Hockey,1424230535,2015-02-18 03:35:35
463005,138063,108160,Hockey,1424230501,2015-02-18 03:35:01
463504,138103,67894,finnish,1423255773,2015-02-06 20:49:33
463509,138103,69442,finnish,1423255750,2015-02-06 20:49:10
463544,138103,73501,finnish,1423255756,2015-02-06 20:49:16
463545,138103,74681,finnish,1423255760,2015-02-06 20:49:20
463573,138103,84553,finnish,1423255764,2015-02-06 20:49:24
464786,138301,52042,espionage,1426032479,2015-03-11 00:07:59
464787,138301,52042,resistance movement,1426032481,2015-03-11 00:08:01
464788,138301,52042,World War II,1426032485,2015-03-11 00:08:05
464958,138301,109487,ambitious,1423178287,2015-02-05 23:18:07
464959,138301,109487,atmosphere,1423178302,2015-02-05 23:18:22
464960,138301,109487,plot holes,1423178186,2015-02-05 23:16:26
464961,138301,109487,sci-fi,1423178227,2015-02-05 23:17:07
464962,138301,109487,science fiction,1423178255,2015-02-05 23:17:35
464963,138301,109487,Self-Indulgent,1423178219,2015-02-05 23:16:59
464964,138301,109487,space,1423178343,2015-02-05 23:19:03
464965,138301,109487,visually appealing,1423178319,2015-02-05 23:18:39
464966,138301,109487,wasted potential,1423178212,2015-02-05 23:16:52

## 15. Sort the tags DataFrame based on timestamp.

In [81]:
df_sort=df_tags.sort_values(by='Date', ascending=False)        # Sorting the values basedon date in descending order 
df_sort

,userId,movieId,tag,timestamp,Date
339178,102853,115149,russian mafia,1427771352,2015-03-31 03:09:12
158780,46072,6058,premonition,1427760764,2015-03-31 00:12:44
158763,46072,3409,premonition,1427760726,2015-03-31 00:12:06
288375,87797,215,Vienna,1427755801,2015-03-30 22:50:01
290535,88044,106782,profanity,1427754096,2015-03-30 22:21:36
290527,88044,106782,crime,1427753921,2015-03-30 22:18:41
290526,88044,106782,Amoral,1427753913,2015-03-30 22:18:33
290531,88044,106782,Jonah Hill,1427753849,2015-03-30 22:17:29
290530,88044,106782,inaccurate,1427753806,2015-03-30 22:16:46
290528,88044,106782,Economically Illiterate Writers,1427753739,2015-03-30 22:15:39
290533,88044,106782,Left-Wing Writers,1427753621,2015-03-30 22:13:41
290532,88044,106782,Left-Wing Propaganda,1427753266,2015-03-30 22:07:46
290529,88044,106782,ENFP,1427753147,2015-03-30 22:05:47
290534,88044,106782,Orgies,1427753111,2015-03-30 22:05:11
290536,88044,106782,unsatisfying ending,1427753000,2015-03-30 22:03:20
392904,122523,5004,party,1427752292,2015-03-30 21:51:32
392905,122523,5004,USA,1427752289,2015-03-30 21:51:29
150872,42640,115122,dark comedy,1427748808,2015-03-30 20:53:28
150871,42640,115122,comedy,1427748797,2015-03-30 20:53:17
150873,42640,115122,mockumentary,1427748778,2015-03-30 20:52:58
400106,123297,4573,CLV,1427747462,2015-03-30 20:31:02
405123,123297,118722,CLV,1427747321,2015-03-30 20:28:41
401017,123297,6481,CLV,1427747220,2015-03-30 20:27:00
400993,123297,6419,CLV,1427746864,2015-03-30 20:21:04
399877,123297,4211,CLV,1427746709,2015-03-30 20:18:29
405155,123297,128642,CLV,1427746337,2015-03-30 20:12:17
119989,28906,115149,cheesy,1427746074,2015-03-30 20:07:54
119993,28906,115149,over the top,1427746060,2015-03-30 20:07:40
119991,28906,115149,lack of story,1427746053,2015-03-30 20:07:33
119997,28906,115149,violent,1427746031,2015-03-30 20:07:11
...,...,...,...,...,...
81445,20513,36529,usa,1136242623,2006-01-02 22:57:03
68916,16050,6898,british,1136039368,2005-12-31 14:29:28
68918,16050,6898,harsh,1136039368,2005-12-31 14:29:28
68917,16050,6898,drugs,1136039368,2005-12-31 14:29:28
68921,16050,7060,musical,1136039301,2005-12-31 14:28:21
68920,16050,7060,kitsch,1136039301,2005-12-31 14:28:21
68919,16050,7060,christian,1136039301,2005-12-31 14:28:21
68922,16050,7060,religious,1136039301,2005-12-31 14:28:21
68926,16050,38886,new york,1136036612,2005-12-31 13:43:32
68925,16050,38886,family,1136036612,2005-12-31 13:43:32
68924,16050,38886,eighties,1136036612,2005-12-31 13:43:32
68927,16050,38886,overrated,1136036612,2005-12-31 13:43:32
68928,16050,38886,twee,1136036612,2005-12-31 13:43:32
15926,3797,8573,Nonlinear Surrealism,1135936223,2005-12-30 09:50:23
256663,75141,4642,Terrible,1135688095,2005-12-27 12:54:55
15903,3797,110,overrated,1135589075,2005-12-26 09:24:35
333944,100371,6016,brazil,1135429520,2005-12-24 13:05:20
333930,100371,2329,edward norton,1135429508,2005-12-24 13:05:08
333931,100371,2329,fuckoff nazi,1135429508,2005-12-24 13:05:08
333933,100371,2858,kevin spacey,1135429466,2005-12-24 13:04:26
333920,100371,32,bruce willis,1135429442,2005-12-24 13:04:02
333936,100371,4011,brad pitt,1135429431,2005-12-24 13:03:51
333937,100371,4011,guy ritchie,1135429431,2005-12-24 13:03:51
333921,100371,47,brad pitt,1135429412,2005-12-24 13:03:32
333922,100371,47,morgan freeman,1135429412,2005-12-24 13:03:32
333939,100371,5004,peter sellers,1135429399,2005-12-24 13:03:19
333923,100371,1193,jack nicholson,1135429371,2005-12-24 13:02:51
333924,100371,1206,stanley kubrick,1135429248,2005-12-24 13:00:48
333927,100371,1732,coen brothers,1135429236,2005-12-24 13:00:36
333932,100371,2788,monty python,1135429210,2005-12-24 13:00:10